@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.runningText {
  @apply font-david;
  font-size: 15px;
  line-height: calc(17 / 15);
}

@screen sm {
  .runningText {
    font-size: 24px;
    line-height: calc(24 / 21);
  }
}

h1 {
  @apply font-david;
  font-size: 20px;
  line-height: calc(17 / 20);
}

@screen sm {
  h1 {
    font-size: 58px;
    line-height: calc(51 / 58);
  }
}

h2 {
  @apply font-grotesque;
  font-size: 20.5px;
  line-height: calc(20 / 20.5);
}

@screen sm {
  h2 {
    font-size: 57px;
    line-height: calc(56 / 57);
  }
}

h3 {
  @apply font-grotesque;
  font-size: 35px;
  line-height: calc(41 / 35);
}

@screen sm {
  h3 {
    font-size: 36px;
    line-height: calc(38 / 36);
  }
}

.hover\:blurred:hover {
  filter: blur(3px);
  @apply transition-all duration-[500] ease-in-out;
}

@screen lg {
  .md\:zwischenTitel {
    @apply font-david;
    font-size: 35px;
    line-height: calc(41 / 35);
  }
}
